* {
    box-sizing: border-box;
    border: 0.5px solid;
}
.parent {
    width: 100%;
    display: flex;
}
.ABC {
    width: inherit;
    height: 800px;
    margin: auto;
    padding: 0;
    background-color: aqua;
    display: grid;
    grid-template-columns: 10% 20% 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    gap: 10px;
    
}
.child-1 {
    background-color: red;
    width: 2%;
    text-align: center;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.child-1:hover {
    width: 10%;
}
i {
    margin-top: 270px;
    border: 0;
    position: absolute;
}
.child-2 {
    background-color: yellow;
    grid-column: 1/5;
    height: 100px;
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: 1s;
}
.child-2:hover {
    background-color: blueviolet;
}
.child-3 {
    background-color: blue;
    grid-column: 1/5;
    display: grid;
    grid-template-rows: (3, ifr);
    row-gap: 5px;

}
h2 {
    width: 10%;
    height: 60px;
    text-align: center;
    transform: translate(15px, 0);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
h2:hover {
    transform: translate(730px, 0);
}
.child-4 {
    background-color: orange;
    grid-column: 1/5;
    height: 100px;
}
.grand-child {
    
    background-color: brown;
}