* {
  box-sizing: border-box;
  border: 0.5px solid;
}
.parent {
  width: 100%;
  display: flex;
}
.ABC {
  width: inherit;
  height: 800px;
  margin: auto;
  padding: 0;
  background-color: aqua;
  display: grid;
  grid-template-columns: 10% 20% 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 10px;
}
.child-1 {
  background-color: red;
  width: 2%;
  text-align: center;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.child-1:hover {
  width: 10%;
}
i {
  margin-top: 270px;
  border: 0;
  position: absolute;
}
.child-2 {
  background-color: orange;
  grid-column: 1/5;
  height: 100px;
  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}
.child-2:hover {
  background-color: blueviolet;
}
.child-3 {
  background-color: blue;
  grid-column: 1/5;
  display: grid;
  grid-template-rows: (3, ifr);
  row-gap: 5px;
}
h2 {
  background-color: yellow;
  border: 1px solid;
  width: 10%;
  height: 60px;
  text-align: center;
  /*transition: transform 2s ease, border-radius 2s ease;*/
  animation: random 5s ease-in-out infinite;
  position: relative;
  /*top: 100px;
    left: 90px;
    bottom: 15px;*/
}
/*h2:hover {
    transform: translate(20px, 20px);
    border-radius: 300px;
}*/
.child-4 {
  background-color: orange;
  grid-column: 1/5;
  height: 100px;
}
.grand-child {
  background-color: brown;
  animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
  0% {
    background-color: blueviolet;
  }
  25% {
    background-color: brown;
  }
  50% {
    background-color: blueviolet;
  }
  75% {
    background-color: brown;
  }
  100% {
    background-color: blueviolet;
  }
}
@keyframes random {
  0% {
    left: 0px;
  }
  100% {
    left: 1300px;
  }
}
